#area-pedido
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area-pedido #formulario
{
  position:absolute;
  display:block;
}

#formulario label
{
  position:absolute;
  left:19px;
  margin-right:5px;
}

#formulario input.produto
{
  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}
#formulario input.quantidade
{
  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}