.card-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 320px;
    border: 1px solid #ed0000;
    margin-top: 10px;
    position: relative;
}

.card-texto {
    margin-top: -30;
    padding: 0px 20px 10px 30px;
    background-color: #f8ecec;
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #ed0000;
}