header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ed0000;
    background-color: #fbebeb;
}

.menu a {
    color: #521d16;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #ed0000;
}