p{
    color: #521d16;
    font-family: sans-serif;
}

h1{
    color: #521d16;
    font-family: sans-serif;
}

h2{
    color: #521d16;
    font-family: sans-serif;
}

h3{
    color: #521d16;
    font-family: sans-serif;
}